.qr-code-display {
  margin-top: 10px; /* Adjust top margin as needed */
  padding: 10px; /* Adjust padding as needed */
}

.qr-code-display h3 {
  margin-top: 0; /* Remove default margin for h3 */
  margin-bottom: 5px; /* Add some spacing below h3 */
}

.qr-code-display div {
  max-width: 200px; /* Limit the maximum width of the QR code display */
  max-height: 200px; /* Limit the maximum height of the QR code display */
  overflow: auto; /* Add scrollbars if content overflows */
}
